<!doctype html>
<html>
    <head>
	<title>Bitcoin.de trades chart</title>
	<meta charset="utf-8" />
	{% load static %}
	<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'Chart.bundle.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    </head>
    <body>
	<div class="chart-container" style="position: relative; height:90vh; width:90vw">
	    <canvas id="chart"></canvas>
	</div>
	<script>
	  var data = {{ data }}
	</script>
	<script src="{% static 'main.js' %}"></script>

    </body>
</html>
