{% if data %}
<p>Showing {{ data|length }} of {{ num_total }} transactions:</p>
<table>
  <thead>
    <tr>
      <th>TID</th>
      <th>Trading</th>
      <th>Date</th>
      <th>Price</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in data %}
    <tr>
      <td>{{ transaction.tid }}</td>
      <td>{{ transaction.trading_pair }}</td>
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.price }}</td>
      <td>{{ transaction.amount }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No transactions in database.</p>
{% endif %}
