{% if data %}
<p>Showing {{ data|length }} of {{ num_total }} transactions:</p>
<table>
  <thead>
    <tr>
      <th>Souce</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Rate</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in data %}
    <tr>
      <td>{{ transaction.source }}</td>
      <td>{{ transaction.date }}</td>
      <td>{{ transaction.curIn }}</td>
      <td>{{ transaction.curOut }}</td>
      <td>{{ transaction.rate }}</td>
      <td>{{ transaction.amount }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No transactions in database.</p>
{% endif %}
